<?xml version="1.0"?>
<config>
    <modules>
        <Diglin_Sales>
            <version>0.1.0</version>
        </Diglin_Sales>
    </modules>
    
    <global>
        <models>
            <sales>
                <rewrite>
                    <!-- Fix a bug with hidden tax amount -->
                    <order_invoice_total_tax>Diglin_Sales_Model_Order_Invoice_Total_Tax</order_invoice_total_tax>
                </rewrite>
            </sales>
        </models>
        
        <helpers>
            <diglin_sales>
                <class>Diglin_Sales_Helper</class>
            </diglin_sales>
        </helpers>
    </global>
</config>
